<!DOCTYPE html>
<html lang="en">
  <%- include('layout'); -%>
  <body>
    <header>
      <%- include('header/prices'); -%> <%- include('header/searchForm'); -%>
    </header>
    <section class="layout-grid">
      <div class="chart"><%- include('chart'); -%></div>
      <div class="chatroom">
        <!-- overlay -->
        <%- include('chatroom/overlay'); -%>

        <div class="private-chat hidden">
          <%- include('chatprivate/nav'); -%>
          <div class="box-of-private-messages"></div>

          <%- include('chatprivate/chatbox/messageBox'); -%>
          <form id="private-chat-form" action="">
            <%- include('chatprivate/chatbox/chatForm'); -%>
          </form>
        </div>

        <div class="public-chat">
          <%- include('chatroom/nav'); -%>
          <div class="box-of-messages">
            <%- include('chatroom/chatbox/roomsAccordion'); -%> <%-
            include('chatroom/chatbox/usersAccordion'); -%>
          </div>

          <%- include('chatroom/chatbox/messageBox'); -%>
          <form id="chat-form" action="">
            <%- include('chatroom/chatbox/chatForm'); -%>
          </form>
        </div>
      </div>

      <div class="buys"><%- include('buys'); -%></div>
      <div class="sells"><%- include('sells'); -%></div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
